:root {

  --header-height: 5vh;
  --footer-height: 5vh;

  --body-font-size: 12px;
  --body-font-weight: 100;

  // COLORS

  --color-terminal-green: rgba(0,255,0,1);
  --color-terminal-black: rgba(0,0,0,1);
  --color-terminal-white: rgba(255,255,255,.6);

}